
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.div-low{
  background-color: #d4ffd3;
}

.div-medium{
  background-color: #fffbd3;
} 

.div-high{
  background-color: #ffd3d3;
}
